body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to left, #650000, #00055a);
}

.wrapper{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: inherit
}

ul{
    list-style-type: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto; 
    text-align: center;
    padding: 0 5px;
}

.menu__link {
    margin-bottom: 5px;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    transition: background-color .2s, color .2s;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.menu__link:hover {
    background-color: #ffffff;
    color: #131313;
}

.menu__list{
    padding: 0;
}

.content{
    color: #ffffff;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
}

.author{
    margin-top: 60px;
}
.image-author{
    border-radius: 30%;
}

.show-image-checkbox {
    display: none;
}

#imageContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #131313ba; 
    text-align: center;
}

#showImage:checked + #imageContainer {
    display: block;
    transition: 3s;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    background-color: #131313;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: color .3s, background-color .3s;
}

.close-button:hover {
    background-color: #ffffff;
    color: #131313;
}

#imageContainer img {
    max-height: 96%;
    margin: auto;
    display: block;
    margin-top: 15px;
}

.sxema{
    cursor: pointer;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.footer__link{
    color: #fff;
    text-decoration: underline;
}

.footer__social-link{
    margin-left: 50px;
}

.footer__contacts-link{
    display: flex;
    align-items: center;
    color: #ffffff;
}

.footer__contacts-img{
    margin-right: 10px;
}

.copyright{
    color: #ffffff;
}
