body{
    margin: 0;
    background: #292b33;
    overflow: hidden;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    color: rgb(187, 187, 187);
}

.body_hide {
	opacity: 0;
	transition: .6s opacity ease-in-out;
}
.body_visible {
	opacity: 1;
}

.menu{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.name{
    transform: translate(10vh, 40vh);
    font-size: 40px;
    width: 837px;
}

h1{
    border-radius: 30px;
    text-shadow: -10px 10px 2px #da1313c4,
                 -20px 15px 2px #da131396,
                 -30px 20px 2px #da131357;
    
}



.menu-buttons{
    flex-direction: column;
    display: flex;
    width: 600px;
    height: 500px;
} 

.play,
.about,
.table{
    background-color: rgba(199, 35, 35, 0.432);
    padding: 20px;
    border: none;
    border-radius: 20px;
    color: rgb(187, 187, 187);
    transition: .2s;
    font-size: 20px;
    transition: transform 0.3s;
}

.about{
    top: 15vh;
    left: 100vh;
    position: relative;
}

.play{
    top: 10vh;
    left: 100vh;
    position: relative;
}

.table{
    top: 20vh;
    left: 100vh;
    position: relative;
}

.play:hover,
.about:hover,
.table:hover{
    cursor: pointer;
    background: rgb(14, 25, 177);
    box-shadow: 0 0 50px blue;
    text-shadow: 5px 5px 6px #000;
    transform: scale(1.1);
}

